.custom-background {
  &-violet {
    // TODO: consider getting rid of this background
    background: linear-gradient(167deg, rgba(var(--background)) 60%, rgba(var(--violet)) 100%);
  }

  &-electric-blue {
    background: linear-gradient(167deg, rgba(var(--background)) 70%, rgba(var(--electric-blue)) 100%);
  }
}

.radial-background-gradient {
  background: radial-gradient(circle, rgba(var(--radial-background-color), 0.8) 3%, rgba(var(--radial-background-color), 0.3) 25%, rgba(var(--radial-background-color), 0) 45%);
  transition: background 0.5s ease-in-out;
}