@import './animations/bounce.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* TODO: Adjust these colors */
  /* This is for light mode, will be done later. */
  /* --background: #ffffff;
  --foreground: #171717; */

  /* For dark mode, default setting for now. */
  --background: #0a0a0a;
  --foreground: #ededed;

  --black: #0a0a1a;
  --black-100: #bbbbe4;
  --black-200: #7676ca;
  --black-300: #3f3fa2;
  --black-400: #25255e;
  --black-500: #0a0a1a;
  --black-600: #080815;
  --black-700: #06060f;
  --black-800: #04040a;
  --black-900: #020205;

  --lime: #ceff1a;
  --lime-100: #f5ffd1;
  --lime-200: #ebffa3;
  --lime-300: #e1ff75;
  --lime-400: #d7ff47;
  --lime-500: #ceff1a;
  --lime-600: #b0e000;
  --lime-700: #84a800;
  --lime-800: #587000;
  --lime-900: #2c3800;

  --violet: #7d3cff;
  --violet-100: #e5d8ff;
  --violet-200: #cbb1ff;
  --violet-300: #b18bff;
  --violet-400: #9864ff;
  --violet-500: #7d3cff;
  --violet-600: #5400fd;
  --violet-700: #3f00be;
  --violet-800: #2a007e;
  --violet-900: #15003f;

  --blue: #1be7ff;
  --blue-100: #d1faff;
  --blue-200: #a3f6ff;
  --blue-300: #75f1ff;
  --blue-400: #47edff;
  --blue-500: #1be7ff;
  --blue-600: #00cae0;
  --blue-700: #0097a8;
  --blue-800: #006570;
  --blue-900: #003238;

  --white: #eef0f2;
  --white-100: #fcfcfc;
  --white-200: #f8f9fa;
  --white-300: #f5f6f7;
  --white-400: #f1f3f4;
  --white-500: #eef0f2;
  --white-600: #b8c0c8;
  --white-700: #81909e;
  --white-800: #53606c;
  --white-900: #2a3036;

  --header-height: 95px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .custom-background-violet {
    background: rgb(10, 10, 26);
    background: linear-gradient(167deg, rgba(10, 10, 26, 1) 60%, rgba(125, 60, 255, 1) 100%);
  }

  .custom-background-blue {
    background: rgb(10, 10, 26);
    background: linear-gradient(167deg, rgba(10, 10, 26, 1) 70%, rgba(27, 231, 255, 1) 100%);
  }
} */

/* TODO: Implement the same for framer motion animations using useReducedMotion hook */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media print {
  @page {
    size: A4;
    margin: 1.5cm 1.2cm 1cm 1.2cm;
  }

  .page-break {
    page-break-before: always;
    break-before: page;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* TODO: Extract to background colors css file */
/* For light mode, will be implemented later, not critical */
/* .custom-background-violet {
  background: rgb(255, 255, 255);
  background: linear-gradient(167deg, rgba(255, 255, 255, 1) 60%, rgba(125, 60, 255, 1) 100%);  
}

.custom-background-blue {
  background: rgb(255, 255, 255);
  background: linear-gradient(167deg, rgba(255, 255, 255, 1) 70%, rgba(27, 231, 255, 1) 100%);
} */

.custom-background-violet {
  background: rgb(10, 10, 26);
  background: linear-gradient(167deg, rgba(10, 10, 26, 1) 60%, rgba(125, 60, 255, 1) 100%);
}

.custom-background-blue {
  background: rgb(10, 10, 26);
  background: linear-gradient(167deg, rgba(10, 10, 26, 1) 70%, rgba(27, 231, 255, 1) 100%);
}

/* .custom-background-lime {
  background: rgb(10, 10, 26);
  background: linear-gradient(153deg, rgba(10, 10, 26, 1) 80%, rgba(206, 255, 26, 1) 100%);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-black;
}

p,
button {
  @apply font-sans;
}
