@import './animations/bounce.css';
@import './animations/shake.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 10, 10, 26;           /* rgb(10, 10, 26) */
  --black-100: 187, 187, 228;    /* rgb(187, 187, 228) */
  --black-200: 118, 118, 202;    /* rgb(118, 118, 202) */
  --black-300: 63, 63, 162;      /* rgb(63, 63, 162) */
  --black-400: 37, 37, 94;       /* rgb(37, 37, 94) */
  --black-500: 10, 10, 26;       /* rgb(10, 10, 26) */
  --black-600: 8, 8, 21;         /* rgb(8, 8, 21) */
  --black-700: 6, 6, 15;         /* rgb(6, 6, 15) */
  --black-800: 4, 4, 10;         /* rgb(4, 4, 10) */
  --black-900: 2, 2, 5;          /* rgb(2, 2, 5) */

  --lime: 206, 255, 26;          /* rgb(206, 255, 26) */
  --lime-100: 245, 255, 209;     /* rgb(245, 255, 209) */
  --lime-200: 235, 255, 163;     /* rgb(235, 255, 163) */
  --lime-300: 225, 255, 117;     /* rgb(225, 255, 117) */
  --lime-400: 215, 255, 71;      /* rgb(215, 255, 71) */
  --lime-500: 206, 255, 26;      /* rgb(206, 255, 26) */
  --lime-600: 176, 224, 0;       /* rgb(176, 224, 0) */
  --lime-700: 132, 168, 0;       /* rgb(132, 168, 0) */
  --lime-800: 88, 112, 0;        /* rgb(88, 112, 0) */
  --lime-900: 44, 56, 0;         /* rgb(44, 56, 0) */

  --violet: 125, 60, 255;        /* rgb(125, 60, 255) */
  --violet-100: 229, 216, 255;   /* rgb(229, 216, 255) */
  --violet-200: 203, 177, 255;   /* rgb(203, 177, 255) */
  --violet-300: 177, 139, 255;   /* rgb(177, 139, 255) */
  --violet-400: 152, 100, 255;   /* rgb(152, 100, 255) */
  --violet-500: 125, 60, 255;    /* rgb(125, 60, 255) */
  --violet-600: 84, 0, 253;      /* rgb(84, 0, 253) */
  --violet-700: 63, 0, 190;      /* rgb(63, 0, 190) */
  --violet-800: 42, 0, 126;      /* rgb(42, 0, 126) */
  --violet-900: 21, 0, 63;       /* rgb(21, 0, 63) */

  --blue: 27, 231, 255;          /* rgb(27, 231, 255) */
  --blue-100: 209, 250, 255;     /* rgb(209, 250, 255) */
  --blue-200: 163, 246, 255;     /* rgb(163, 246, 255) */
  --blue-300: 117, 241, 255;     /* rgb(117, 241, 255) */
  --blue-400: 71, 237, 255;      /* rgb(71, 237, 255) */
  --blue-500: 27, 231, 255;      /* rgb(27, 231, 255) */
  --blue-600: 0, 202, 224;       /* rgb(0, 202, 224) */
  --blue-700: 0, 151, 168;       /* rgb(0, 151, 168) */
  --blue-800: 0, 101, 112;       /* rgb(0, 101, 112) */
  --blue-900: 0, 50, 56;         /* rgb(0, 50, 56) */

  /* TODO: This is clearly not white, but too many usages to change it now. Refactor white to cosmic-latte */
  --white: 255, 248, 231;        /* rgb(255, 248, 231) */
  --white-100: 255, 253, 250;    /* rgb(255, 253, 250) */
  --white-200: 255, 252, 245;    /* rgb(255, 252, 245) */
  --white-300: 255, 250, 240;    /* rgb(255, 250, 240) */
  --white-400: 255, 249, 235;    /* rgb(255, 249, 235) */
  --white-500: 255, 248, 231;    /* rgb(255, 248, 231) */
  --white-600: 255, 218, 133;    /* rgb(255, 218, 133) */
  --white-700: 255, 189, 36;     /* rgb(255, 189, 36) */
  --white-800: 194, 136, 0;      /* rgb(194, 136, 0) */
  --white-900: 97, 68, 0;        /* rgb(97, 68, 0) */

  --header-height: 95px;
}

.light {
  --background: var(--white);
  --foreground: var(--black);

  --primary: var(--black);
  --primary-foreground: var(--white);

  --accent-lime: var(--lime-600);
  --accent-lime-foreground: var(--lime-700);

  --accent-blue: var(--blue-600);
  --accent-violet: var(--violet-600);
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: var(--white);
  --primary-foreground: var(--black);

  --accent-lime: var(--lime);
  --accent-lime-foreground: var(--lime);

  --accent-blue: var(--blue);
  --accent-violet: var(--violet);
}

/* TODO: Implement the same for framer motion animations using useReducedMotion hook */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media print {
  @page {
    size: A4;
    margin: 1.5cm 1.2cm 1cm 1.2cm;
  }

  .page-break {
    page-break-before: always;
    break-before: page;
  }

  p,
  li,
  span {
    font-size: 14px !important;
  }
}

body {
  background: rgba(var(--background));
}

/* TODO: Extract to background colors css file */

.custom-background-violet,
.custom-background-blue {
  background: rgba(var(--background));
}

.custom-background-violet {
  background: linear-gradient(167deg, rgba(var(--background)) 60%, rgba(var(--violet)) 100%);
}

.custom-background-blue {
  background: linear-gradient(167deg, rgba(var(--background)) 70%, rgba(var(--blue)) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-black;
}

p,
button,
ul {
  @apply font-sans font-medium;
}
