.bounce-horizontal {
  animation-name: bounce-horizontal;
}

.bounce-vertical {
  animation-name: bounce-vertical;
}

.bounce-horizontal,
.bounce-vertical {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

*:hover > .bounce-horizontal,
*:hover > .bounce-vertical {
  animation: none;
}

@keyframes bounce-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }
}

@keyframes bounce-vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }
}
