.bounce-horizontal {
  animation: bounce-horizontal 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.bounce-vertical {
  animation: bounce-vertical 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes bounce-horizontal {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }
}

@keyframes bounce-vertical {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }
}